@import '../utils/variables';

.trends {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: $white;
}

.trend {
    width: $trend-duel-size;
    background-color: $medium-blue;
    height: $trend-duel-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;

    & + & {
        margin-left: 1.5rem;
    }

    & + &-info, &-info + & {
        margin: 0 1rem;
    }
    &-name, &-hot {
        align-self: center;
        color: $white;
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: $kerning;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
    }

    &-hot {
        font-size: 8rem;
        font-style: italic;
    }

    &-info {
        background-color: $medium-blue;
        border-radius: 50%;
        padding: 0.5rem 1.25rem;
        font-size: 1.6rem;
        font-weight: 800;
        cursor: pointer;

        &::before {
            content: '?';
            font-weight: 700;
        }

        &.active::before {
            content: 'x';
            font-weight: 100;
        }
    }

    &.loading {
        background-color: $light-grey;
    }

    &.active {
        background-color: $red;
    }

    &.inactive {
        background-color: $light-blue;
    }
}

.info {
	position: relative;
	margin-top: 1rem;

	&-container {
		width: 50%;
		display: inline-block;
		text-align: center;
		margin: 0.5rem 0;

		& + & {
			margin-left: -4px;
		}

		& svg {
			max-width: 40px;
			fill: $trend-bar-completed;
			cursor: pointer;
		}
	}

	&-title {
		font-weight: 800;
		font-size: 1.2rem;
		letter-spacing: $kerning;
		color: $black;
		text-transform: uppercase;
		vertical-align: top;
	}

	&-description {
		font-weight: 300;
		font-size: 1rem;
		margin-top: 0.5rem;
	}

	&-text {
		background-color: $medium-grey;
		padding: 1rem;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&-close {
		max-width: 2.2rem;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;

		&-outer {
			fill: $dark-grey;
		}
		&-line {
			fill:none;
			stroke: $white;
			stroke-width: 7px;
		}
	}
}

.btn-skip {
	font-style: italic;
    font-size: 1.9rem;

    &, &:hover {
    	color: $pink;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .trend {
       width: $trend-duel-size-mob;
       height: $trend-duel-size-mob;

       & + & {
            margin-left: 0;
        }
    }

    .trend-name {
        font-size: 1.9rem;
    }
}