@import "../utils/variables";

.tv {
  background: $black;
  color: $white;

  .panel-list {
    margin: 3rem 0;

    & .panel-trend{
      font-size: 1.3rem;

      &.animate {
        margin-bottom: 1rem;
      }

    }
  }
}

.result-line {
  padding: 2px 0;
  text-align: center;
  display: flex;
}

.panel-list {
  list-style: none;
  margin-bottom: 3rem;

  & .panel-trend{
    padding-bottom: 0.26rem;
    margin-bottom: -10rem;
    padding-top: 10rem;
    opacity: 0;
    transition: opacity 600ms ease-in, margin-bottom 200ms linear, padding-top 200ms linear;

    & .position {
      background-color: $red;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 150rem;
      text-align: center;
      line-height: 2.5rem;
      font-weight: 800;
      color: $white;
      margin-right: 0.5rem;
    }

    & .name-wrapper {
      display: inline-block;
      overflow: hidden;

      & .name {
        transition: margin-left 1000ms ease-in;
      }
    }

    &.animate {
      margin-bottom: 0;
      padding-top: 0;
      opacity: 1;
    }


    &.no-text {
      & .name {
        margin-left: -500px;
      } 
    }
  }
  & .panel-col { 
    & .panel-trend.animate {
      &:nth-child(n+2) .position{
        background: $orange;
      }
      &:nth-child(n+5) .position{
        background: $yellow;
      }
      &:nth-child(n+7) .position{
        background: $light-green;
      }
      &:nth-child(n+10) .position{
        background: $green;
      }
    }

    &:last-child {
      & .panel-trend.animate {
        & .position{
          background: $green;
        }
        &:nth-child(n+2) .position{
          background: $dark-green;
        }
        &:nth-child(n+5) .position{
          background: $light-blue;
        }
        &:nth-child(n+7) .position{
          background: $medium-blue;
        }
        &:nth-child(n+10) .position{
          background: $dark-blue;
        }
      }
    }
  }
}
.result-position {
  display: inline-block;
  width: 30%;
  padding: 0.7rem;
  text-align: right;

  &-text {
    padding-right: 1.2rem;
    color: $white;
    font-weight: 800;
  }

  & + .result-name {
    margin-left: -4px;
  }

  &-first { background-color: $red; }
  &-second { background-color: $orange; }
  &-third { background-color: $yellow; }
  &-antepenult { background-color: $light-blue; }
  &-penultimate { background-color: $medium-blue; }
  &-last { background-color: $dark-blue; }
}

.result-name {
  display: inline-block;
  width: 70%;
  padding: 0.7rem 1.3rem;
  text-align: left;
}

.result-separator {
  background-color: $light-grey;
  font-weight: 700;
  color: $dark-grey;
  padding-bottom: 0.5rem;
  margin: 2px 0;
  display: block;
}

.result-button {
  background-color: $black;
  padding: 0.8rem 3.5rem;
  color: $white;
  letter-spacing: $kerning;
  cursor: pointer;
  border: 0;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &-disabled {
    background-color: $dark-grey;
  }
  &-wrapper {
    margin: 2rem 0;
    text-align: center;
  }
}


