@import '../utils/variables';

.trends {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: $white;
}

.trend {
    width: 15.625rem;
    background-color: $medium-blue;
    height: 15.625rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;

    &-name {
        align-self: center;
        color: $white;
        font-size: 1.3rem;
        font-weight: 800;
        letter-spacing: $kerning;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
    }

    &-hot {
        align-self: center;
        color: $white;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: $kerning;
        text-transform: uppercase;
        padding: 1rem;
        text-align: center;
        font-style: italic;
    }

    &-info {
        background-color: $medium-blue;
        border-radius: 50%;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 800;
        cursor: pointer;

        &::before {
            content: '?';
            font-weight: 700;
        }

        &.active::before {
            content: 'x';
            font-weight: 100;
        }
    }

    &.loading {
        background-color: $light-grey;
    }

    &.active {
        background-color: $red;
    }

    &.inactive {
        background-color: $light-blue;
    }
}
