<div ng-include="'templates/partials/navbar.html'"></div>

<div ng-include="'templates/partials/error.html'"></div>

<div ng-hide="loading" class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="title">{{ 'CONGRATULATIONS1' | translate }}</h1>
      <h1 class="title">{{ 'CONGRATULATIONS2' | translate }}</h1>
    </div>
  </div>

  <div class="panel-list row">
    <div class="col-md-5 col-md-offset-1 panel-col" ng-class="{'col-md-6': tv, 'col-md-offset-3': tv}">
      <div class="panel-trend" ng-class="{'animate': trend.show, 'no-text': trend.changing}" ng-repeat="trend in leftTrends">
        <div class="trend-item">
          <span class="position">{{ trend.position }}</span>
          <div class="name-wrapper">
            <span class="name">{{ trend.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 panel-col" ng-class="{'col-md-6': tv, 'col-md-offset-3': tv}">
      <div class="panel-trend" ng-class="{'animate': trend.show, 'no-text': trend.changing}" ng-repeat="trend in rightTrends">
        <div class="trend-item">
          <span class="position">{{ trend.position }}</span>
          <div class="name-wrapper">
            <span class="name">{{ trend.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="result-button-wrapper">
    <button class="result-button" ng-click="users()" ng-show="showUserForm()" ng-hide="tv">
      {{ 'RESULTS' | translate }}
    </button>
    <a href="#/duels" class="result-button" ng-hide="showUserForm()">
      {{ 'VOTE_AGAIN' | translate }}
    </a>
  </div>
</div>
<div ng-show="loading" class="text-center">
  <div ng-include="'templates/partials/loading.html'"></div>
</div>
