//colors

$purple: #702269;
$medium-blue: #00BCCD;
$light-blue: #80DDE6;
$pink: #F072AD;
$medium-grey: #EEEEEE;
$light-green: #BDBD32;
$green: #00AA5B;
$dark-green: #85B880;

$red: #EC3331;
$orange: #F58832;
$yellow: #FCEF57;
$dark-blue: #0578BD;
$light-grey: #F2F2F2;
$dark-grey: #999999;
$white: #FFFFFF;
$black: #000000;
$trend-bar-completed: #C8C8C8;

//font
$font-family: 'Open Sans', sans-serif;

//size
$start-button-small: 25px;
$start-button-medium: $start-button-small * 2.15;
$start-button-big: $start-button-small * 3;
$kerning: -0.03em;

//trend
$trend-duel-size: 22.5rem;
$trend-duel-size-mob: 21rem;
$trend-border-definition: 2px solid $dark-grey;

%vertical-align {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	background-position: 50% 50%;
}

%simple-link {
	color: $dark-grey;
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}
