@import "../utils/variables";

.trend-bar {
	position: relative;
    margin-top: 1rem;
}

.bars {
	height: 2.25rem;
    text-align: center;
}

.bar {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
	width: 2.25rem;
	height: 100%;
	background-color: $medium-grey;
	transition: background-color 1s ease;

    & + & {
        margin-left: 0.3rem;
    }
	&-completed {
		background-color: $trend-bar-completed;
	}

    &-active {
        width: 4.75rem;
        height: 4.75rem;
        background-color: $purple;
        color: white;

        & > span {
            line-height: 4.75rem;
            font-size: 1.25rem;
        }
    }
}