@import '../utils/variables',
		'../components/animations';

#start-button-circle {
  height: 9rem;
  width: 9rem;
  background-color: $medium-blue;
  margin: auto;
  border-radius: 4.5rem;
}

#start-button-circle:active {
  background-color: $light-blue;
}

#start-button-text {
	font-size: 1.9rem;
	font-weight: 800;
  text-align: center;
  color: $white;
  padding-top: 3.1rem;
}
